<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
		<servlet-name>Regatta</servlet-name>
		<servlet-class>com.gogi.eregatta.RegattaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Regatta</servlet-name>
		<url-pattern>/regatta</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RefreshCountries</servlet-name>
		<servlet-class>com.gogi.eregatta.refreshCountries</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RefreshCountries</servlet-name>
		<url-pattern>/refreshcountries</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateRegattaDetails</servlet-name>
		<servlet-class>com.gogi.eregatta.updateRegattaDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateRegattaDetails</servlet-name>
		<url-pattern>/updateregattadetails</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateBooking</servlet-name>
		<servlet-class>com.gogi.eregatta.updateBooking</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateBooking</servlet-name>
		<url-pattern>/updatebooking</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PutExtras</servlet-name>
		<servlet-class>com.gogi.eregatta.putExtras</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PutExtras</servlet-name>
		<url-pattern>/putextras</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PutRegattas1</servlet-name>
		<servlet-class>com.gogi.eregatta.putRegattas1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PutRegattas1</servlet-name>
		<url-pattern>/putregattas1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PutRegattas2</servlet-name>
		<servlet-class>com.gogi.eregatta.putRegattas2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PutRegattas2</servlet-name>
		<url-pattern>/putregattas2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PutRegattas3</servlet-name>
		<servlet-class>com.gogi.eregatta.putRegattas3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PutRegattas3</servlet-name>
		<url-pattern>/putregattas3</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PutRegattas4</servlet-name>
		<servlet-class>com.gogi.eregatta.putRegattas4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PutRegattas4</servlet-name>
		<url-pattern>/putregattas4</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetData</servlet-name>
		<servlet-class>com.gogi.eregatta.getData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetData</servlet-name>
		<url-pattern>/getdata</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getServlet</servlet-name>
		<servlet-class>com.gogi.eregatta.getServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getServlet</servlet-name>
		<url-pattern>/get</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value>com.gogi.eregatta.BookingEndpoint,com.gogi.eregatta.DeviceInfoEndpoint,com.gogi.eregatta.MessageEndpoint,com.gogi.eregatta.RegattaClassEndpoint,com.gogi.eregatta.RegattaEndpoint</param-value>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>